.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .category-btn {
    display: flex;
    align-items: center;
    padding: 0;
    background: none;
    margin-left: auto;
    border: none;

    .edit-img {
      height: 1rem;
      width: auto;
      opacity: 40%;
    }
  }
}
  .category-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }



.category-edit {
  background-color: #424242;
  color: #fcfcfc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;

  .category-edit-input {
    background-color: transparent;
    color: #fcfcfc;
    outline: none;
    border-width: 0 0 2px;
    border-color: #68bdb0;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    font-weight: bold;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: #68bdb0;
    }
  }

  .category-edit-btns {
    display: flex;
    justify-content: space-between;
  }

  .category-edit-btn {
    border-radius: 0.25rem;
    background-color: transparent;
    color: #68bdb0;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0.5rem 0 0.5rem;

    &:hover {
      background-color: #5aa897;
      color: #fcfcfc;
    }

  }

  .btn-del {
    margin-right: auto;

    &:hover {
      background-color: #BF1029;
    }
  }

  .btn-cancel:hover {
    background-color:  #FFF49B;
    color: black;
  }

  .btn-wide {
    padding: 0 1rem 0 1rem;
  }
}
