.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19242a; /* Match app background */
  color: #fcfcfc; /* Match app text color */
  height: 100vh;
}

.login-box {
  background-color: #424242; /* Match app inner containers */
  color: #fcfcfc;
  padding: 3rem;
  border-radius: .5rem;
  width: 85%;
}

.login-box h2 {
  text-align: center;
  font-weight: bold;
  color: #fcfcfc;
}

.login-label {
  font-weight: bold;
  color: #fcfcfc;
}

.login-input {
  background-color: transparent;
  color: #fcfcfc; /* todo: fix this shit*/
  outline: 0;
  border-width: 0 0 2px;
  border-color: #68bdb0;
  margin-bottom: 1rem;
}

.login-input:focus {
  background-color: #343434;
  border-color: green;
}

.login-button {
  background-color: #68bdb0;
  border-radius: .5rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #fcfcfc;
  width: 100%;
  margin-bottom: 1rem;
}

.login-button:hover {
  background-color: #5aa897;
}


.login-register-btn {
  background-color: #424242;
  border-radius: .5rem;
  border: none;
  color: #68bdb0;
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;

  /* todo: fix this shit */
  .login-register-link {
    background-color: #424242;
    border-radius: .5rem;
    border: none;
    color: #68bdb0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  .login-register-link:hover {
    background-color: #5aa897;
    color: #fcfcfc;
  }
}

.text-danger {
  color: #BF1029;
}
